{% extends 'base.html' %}

{% block content %}
<h3>{% block title %} Book details {% endblock %}</h3>
<a href="{{ url_for('view_book', book_id=book.id) }}">back</a>

<form action="{{ url_for('do_save') }}" method="POST">
    <input type="hidden" name="book_id" value="{{ book.id }}" />
	<table>
		<tr>
			<td valign="top"><b>Title:</b></td>
			<td><input type="text" name="title" size="80" value="{{ book.title}}" /></td>
			<td rowspan="4">
				<b>Tags:</b><br />
				<table>
					<tr>
						<td><small>(existing)</small></td>
						<td><small>(new: enter one tag per line)</small></td>
					</tr>
					<tr>
						<td valign="top">
							<select name="existing_tags" size="9" multiple>
							{% for tag in all_tags %}<option value="{{ tag.id }}" {% if tag in book.tags %}selected{% endif %}>{{ tag.name }}</option>{% endfor %}
							</select>
						</td>
						<td valign="top"><textarea name="new_tags" rows="10" cols="25"></textarea></td>
					</tr>
				</table>
				<a href="{{ url_for('view_delete', book_id=book.id) }}">Delete</a>
			</td>
		</tr>
		<tr>
			<td valign="top">Subtitle:</td>
			<td><textarea name="subtitle" rows="2" cols="80">{{ book.subtitle }}</textarea></td>
		</tr>
		<tr>
			<td valign="top">Author(s):</td>
			<td><textarea name="authors" rows="3" cols="80">{% for author in book.authors %}{{author.name}}
{% endfor %}</textarea><br />
			<small>(separate by newline, comma, or semicolon)</small></td>
		</tr>
		<tr>
			<td valign="top">Edition:</td>
			<td><input type="text" name="edition" size="80" value="{{ book.edition }}" /></td>
		</tr>
	</table>
	<div><input type="submit" value="Save" /></div>
</form>

{% endblock %}
