{% extends 'base.html' %}

{% block content %}
<h3>{% block title %} Book details {% endblock %}</h3>
<a href="{{ url_for('view_book', book_id=book.id) }}">back</a>

<form action="{{ url_for('do_save') }}" method="POST" enctype="multipart/form-data">
    <input type="hidden" name="book_id" value="{{ book.id }}" />
	<table>
		<tr>
			<td valign="top"><b>Title:</b></td>
			<td><input type="text" name="title" size="80" value="{{ book.title}}" /></td>
			<td rowspan="4">
				<b>Tags:</b><br />
				<table>
					<tr>
						<td><small>(existing)</small></td>
						<td><small>(new: enter one tag per line)</small></td>
					</tr>
					<tr>
						<td valign="top">
							<select name="existing_tags" size="9" multiple>
							{% for tag in all_tags %}<option value="{{ tag.id }}" {% if tag in book.tags %}selected{% endif %}>{{ tag.name }}</option>{% endfor %}
							</select>
						</td>
						<td valign="top"><textarea name="new_tags" rows="10" cols="25"></textarea></td>
					</tr>
				</table>
				<a href="{{ url_for('view_delete', book_id=book.id) }}">Delete book</a>
			</td>
		</tr>
		<tr>
			<td valign="top">Subtitle:</td>
			<td><textarea name="subtitle" rows="2" cols="80">{{ book.subtitle }}</textarea></td>
		</tr>
		<tr>
			<td valign="top">Author(s):</td>
			<td><textarea name="authors" rows="3" cols="80">{% for author in book.authors %}{{author.name}}
{% endfor %}</textarea><br />
			<small>(separate by newline, comma, or semicolon)</small></td>
		</tr>
		<tr>
			<td valign="top">Edition:</td>
			<td><input type="text" name="edition" size="80" value="{{ book.edition }}" /></td>
		</tr>
		<tr>
			<td colspan="3">Attachments:
				<div>Add attachment <input type="file" name="attachment_file"/></div>
				{% if book.attachments %}
				<table border="1">
					<tr><td colspan="3"><b>{{ book.attachments|length }}</b> attachment(s)</td></tr>
					{% for atch in book.attachments %}
					<tr>
						<td><img src="{{ url_for('view_attachment_thumbnail', attachment_id=atch.id) }}" height="60" /></td>
						<td><input type="text" name="attachment_{{atch.id}}_name" value="{{ atch.name }}" size="80" /></td>
						<td><a href="{{ url_for('delete_attachment', attachment_id=atch.id) }}">delete</a></td>
					</tr>
					{% endfor %}
				</table>
				{% endif %}
			</td>
		</tr>
	</table>
	<div><input type="submit" value="Save" /></div>
</form>

{% endblock %}
