{% extends 'base.html' %}

{% block content %}
<h3>{% block title %} List of Books {% endblock %}</h3>

</p>

<table border="1">
	<tr>
		<td><b>Title</b></td>
		<td><b>Author(s)</b></td>
		<td><b>Edition</b></td>
	</tr>
	{% for book in books %}
	<tr>
		<td>
			<span><a href="{{ url_for('view_book', book_id=book.id) }}">{{ book.title }}</a>
				<br><small>{{ book.subtitle }}</small>
			</span>
		</td>
        <td><!-- Authors --></td>
		<td>{{ book.edition }}</td>
	</tr>
    {% endfor %}
</table>
{% endblock %}
