{% extends 'base.html' %}

{% block content %}
<h3>{% block title %} List of Books {% endblock %}</h3>

<table border="1">
	<tr>
		<td><b>Title</b></td>
		<td><b>Author(s)</b></td>
		<td><b>Edition</b></td>
	</tr>
	{% for book in books %}
	<tr>
		<td>
			<table border="0">
				<tr>
					<td rowspan="2" align="center">
						{% if book.is_file_available %}
						<a href="{{ url_for('view_file', book_id=book.id) }}" >
							<img src="{{ url_for('static', filename='pdf_icon_24.png') }}" height="24" />
						</a>
						{% endif %}
					</td>
					<td><a href="{{ url_for('view_book', book_id=book.id) }}">{{ book.title }}</a></td>
				</tr>
				<tr>
					<td><small>{{ book.subtitle }}</small></td>
				</tr>
			</table>
		</td>
        <td>
			{% for author in book.authors %}
			<div>{{ author.name }}</div>
			{% endfor %}
		</td>
		<td>{{ book.edition }}</td>
	</tr>
    {% endfor %}
</table>
{% endblock %}
